/*=====================================================================
  PROGRAMMES.HTML CSS
  =====================================================================*/


.level {
  display: inline-block;
  background-color: var(--clr-main);
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: .1em .4em;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.course-item {
  border-left: 5px solid var(--clr-main);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 3em;
  padding: 1em 1em 1em 2em;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background: #fff;
}

h2 {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 2em;
}

h3 {
  text-transform: capitalize;
}

span {
  display: block;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.applicate-btn {
  text-decoration: none;
  color: var(--clr-main);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  border: 3px solid var(--clr-main);
  padding: 1em 2em;
  margin-bottom: 3em;
  width: 100%;
  text-align: center;
  -webkit-transition: 150ms ease-out;
  -o-transition: 150ms ease-out;
  -moz-transition: 150ms ease-out;
  transition: 150ms ease-out;
  -webkit-transition-property: background, color;
  -o-transition-property: background, color;
  -moz-transition-property: background, color;
  transition-property: background, color;
}

.applicate-btn:hover {
  background: var(--clr-main);
  color: #fff;
}

@media screen and (min-width: 600px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .applicate-btn {
    margin-bottom: 0;
    margin-left: 1em;
    margin-top: 6.9em;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
  }
}